.product-association-page {
  .gap-8 {
    gap: 8px;
  }

  .association-filter-input {
    max-width: 300px;
  }

  .product-association-form {
    max-width: 600px;
  }

  .product-association-delete-dialog {
    max-width: 600px;
  }
}
